[Desktop Entry]
Name=IsoDumper
Name[ast]=IsoDumper
Name[cs]=IsoDumper
Name[da]=IsoDumper
Name[de]=IsoDumper
Name[el]=IsoDumper
Name[en_GB]=IsoDumper
Name[es]=IsoDumper
Name[et]=IsoDumper
Name[fr]=IsoDumper
Name[id]=IsoDumper
Name[it]=IsoDumper
Name[nl]=IsoDumper
Name[pl]=IsoDumper
Name[pt]=IsoDumper
Name[pt_BR]=IsoDumper
Name[ro]=IsoDumper
Name[ru]=IsoDumper
Name[sl]=IsoDumper
Name[sv]=IsoDumper
Name[tr]=IsoDumper
Name[uk]=IsoDumper
Name[zh_TW]=IsoDumper
Comment=A GUI tool to write .img and .iso files to USB Keys
Comment[ast]=Una ferramienta gráfica pa escribir ficheros .img ya .iso a llaves USB
Comment[cs]=Nástroj s grafickým uživatelským rozhraním k zapsání souborů .img a .iso na klíčenku USB
Comment[da]=Et GUI værktøj til at skrive .img og .iso filer på USB nøgler
Comment[de]=Eine graphische Oberfläche, um .img oder .iso Abbilder auf USB-Sticks zu schreiben
Comment[el]=Ένα γραφικό εργαλείο για την εγγραφή αρχείων .img και .iso σε μνήμες USB
Comment[en_GB]=A GUI tool to write .img and .iso files to USB sticks
Comment[es]=Una herramienta gráfica para escribir imágenes .img e .iso en pendrives USB
Comment[et]=Rakendus .img- ja .iso-failide kirjutamiseks USB-pulgale
Comment[fr]=Outil graphique pour écrire des fichiers .img et .iso sur clés USB
Comment[id]=Alat GUI untuk menulis file .img dan .iso ke flashdisk
Comment[it]=Uno strumento con interfaccia grafica per scrivere file .img e .iso in una chiavetta USB
Comment[nl]=Een grafische tool om .img en .iso bestanden naar USB-sticks te schrijven
Comment[pl]=Narzędzie do zapisywania obrazów .img oraz .iso na USB
Comment[pt]=Uma ferramenta "GUI" para gravar os ficheiros .img e .iso para pens USB
Comment[pt_BR]=Uma ferramenta GUI para gravar .img e .iso para chave USB
Comment[ro]=O interfață grafică pentru scrierea fișierelor .img și .iso pe cheile USB
Comment[ru]=Графическая утилита для записи .img и .iso файлов на USB флешки
Comment[sl]=Orodje z grafičnim uporabniškim vmesnikom za zapis datotek odtisa diska (.img in .iso) na ključek USB
Comment[sv]=Ett grafiskt verktyg för att skriva .img och .iso-filer till USB-minnen
Comment[tr]=USB belleklere .img ve .iso dosyalarını yazdırmak için bir grafiksel araç
Comment[uk]=Програма з графічним інтерфейсом для запису файлів img та iso на носії USB
Comment[zh_TW]=一個寫入 .img 和 .iso 檔案到 USB 隨身碟的 GUI 工具
Exec=isodumper
Icon=isodumper.png
Type=Application
Terminal=false
Categories=System;
