[Desktop Entry]
Name=IsoDumper
Comment=A GUI tool to write .img and .iso files to USB Keys
Comment[fr]=Outil graphique pour écrire des fichiers .IMG et .ISO sur clés USB
Comment[de]=Ein Programm zum scheiben von *.img and *.iso Dateien auf USB-Sicks
Comment[pt]=Um Programa para gravar ficheiros *.img e *.iso em dispositivos USB
Comment[uk]=Програма з графічним інтерфейсом для запису файлів img та iso на носії USB
Comment[ru]=Графическая утилита для записи .img и.iso файлов на USB диск
Icon=isodumper.png
Exec=isodumper
Type=Application
Terminal=false
Categories=System;
